{% extends 'Chat/base.html' %}

<title>{% block title %} Chatroom {% endblock %}</title>{% block content %}

<div class="container">
  <div class="col-6">
    <form>
      <div class="form-group">
        <label for="exampleFormControlTextarea1" class="h4 pt-5"
          >Chatroom</label
        >
        <textarea
          class="form-control"
          id="chat-log"
          cols="100"
          rows="20"
        ></textarea
        ><br />
      </div>
      <div class="form-group">
        <input class="form-control" id="chat-message-input" type="text" /><br />
      </div>
      {% if user.is_authenticated %}
      <input
        class="btn btn-primary btn-lg btn-block"
        id="chat-message-submit"
        type="button"
        value="Send"
      />
      {% else %}
      <button class="btn btn-danger btn-lg btn-block">Send</button>
      <p style="color: red; font-size: large">
        You're not allowed here ! (and you know it ...)
      </p>
      <p style="color: red; font-size: x-large">Don't try to cheat</p>
      {% endif %}
    </form>
  </div>
</div>

{{ room_name|json_script:'room-name' }}

<script>
  const roomName = JSON.parse(document.getElementById("room-name").textContent);

  const chatSocket = new WebSocket(
    "ws://" + window.location.host + "/ws/chat/" + roomName + "/"
  );

  chatSocket.onmessage = function (e) {
    const data = JSON.parse(e.data);
    document.querySelector("#chat-log").value += data.message + "\n";
  };

  chatSocket.onclose = function (e) {
    console.error("Chat socket closed unexpectedly");
  };

  document.querySelector("#chat-message-input").focus();
  document.querySelector("#chat-message-input").onkeyup = function (e) {
    if (e.keyCode === 13) {
      document.querySelector("#chat-message-submit").click();
    }
  };

  document.querySelector("#chat-message-submit").onclick = function (e) {
    const messageInputDom = document.querySelector("#chat-message-input");
    const message = messageInputDom.value;
    chatSocket.send(JSON.stringify({ message: message }));
    messageInputDom.value = "";
  };
</script>

{% endblock content %}
